.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

body {
  background-image: url("imgs/water.jpg");
  background-size: cover;
}

#titleParagraph{
    font-size : 170%;
    width: 70%;
    padding: 1%;
    margin: auto;
    text-align: center;
}
#paragraph {
    font-size : 120%;
    width: 80%;
    padding: 1%;
    margin: auto;
}

#submitbtn {
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 45%;
    border-radius: 15%;
    border-style: hidden;
    background-color: aqua;
    align-self: center;
}

#resultTable {
    width: 90%;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    font-size : 120%;
    background-color: white;
}

#resultTable th, td {
    padding: 1%;
}
